* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", Helvetica, sans-serif;
  color: #222;
}

img {
  display: block;
  max-width: 100%;
}

/* SUPERINFO */

.superinfo-bg {
  background: #0002a1;
  color: #fff;
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  font-weight: 600;
}

.superinfo p,
.superinfo a {
  margin: 0 10px;
}

.superinfo a {
  color: #fff;
}

/* MENU */

.menu-bg {
  background: #332fd0;
}
.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
}
.menu nav {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
}
.menu-logo a {
  font-size: 2.25rem;
  padding: 16px 10px;
  color: #fff;
  font-weight: 600;
}
.menu nav a {
  color: #fff;
  margin: 1rem 0;
  font-size: 1.1rem;
}
.menu a:hover {
  color: #2c70ff;
}

/* INTRODUÇÃO */

.introducao {
  font-size: 3rem;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/* SOBRE */

.sobre {
  border-top: solid 2px #2c70ff;
  border-bottom: solid 2px #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 10px;
}

.sobre-info h1 {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.sobre-info p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: #7c7c7c;
  max-width: 420px;
}

.sobre-img {
  margin: 0 10px;
}

/* PRODUTOS */

.produtos {
  max-width: 960px;
  padding: 60px 0;
  margin: 0 auto;
}

.produtos h1 {
  font-size: 3rem;
  margin: 0 10px 60px 10px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-end;
  margin: 0 10px;
}

.produtos-container h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 3rem 0 3rem 1rem;
}

.produtos-item {
  flex: 1 1 175px;
}

.blue {
  border-top: solid 6px #2c70ff;
}

/* PREÇO */

.preco-bg {
  background: #f7f7f7;
}

.preco {
  padding: 60px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
  max-width: 1600px;
  margin: 0 auto;
}

.preco-item {
  flex: 1;
  border: solid 4px #fff;
  padding: 40px 20px;
  margin: 10px 10px;
  min-width: 250px;
}

.preco-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  text-align: center;
}

.preco-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  font-size: 36px;
}

.preco-item sup {
  font-size: 18px;
}

.preco-item ul {
  font-size: 20px;
  font-style: italic;
  color: #7c7c7c;
  line-height: 2;
}

.preco-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preco-item li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;
}

.preco-item a {
  display: block;
  font-size: 36px;
  font-weight: bold;
  color: #222;
  text-align: center;
  margin: 20px auto 0 auto;
  padding: 8px 16px;
  border: solid 4px #222;
  max-width: 250px;
}

/* QUALIDADE */

.qualidade {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.qualidade-item {
  flex: 1 1 300px;
  margin: 20px 10px;
  min-width: 300px;
}

.qualidade-item h2 {
  font-size: 36px;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.qualidade-item h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 28px;
  margin-right: 10px;
  background: #2c70ff;
}

.qualidade-item p {
  color: #7c7c7c;
  font-size: 20px;
  line-height: 1.4;
}

/* NEWSLETTER */

.newsletter {
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.newsletter-info {
  flex: 1 1 260px;
  margin: 0 10px;
}

.newsletter-info h1 {
  font-size: 36px;
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 18px;
  color: #a4a4a4;
  font-style: italic;
  max-width: 200px;
  margin-bottom: 10px;
  color: #7c7c7c;
}

.newsletter-form {
  flex: 2 1 260px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
}

.newsletter-form input {
  flex: 3 1 200px;
  font-size: 18px;
  border-radius: 0;
  font-style: italic;
  font-family: "Nunito", Helvetica, sans-serif;
  border: solid 4px #332fd0;
  background-color: transparent;
  padding: 10px;
  margin: 0px;
}

.newsletter-form button {
  flex: 1 1 200px;
  font-family: "Nunito", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background: #332fd0;
  color: #fff;
  margin: 0px;
  cursor: pointer;
  padding: 16px 32px;
}

/* FOOTER */

.footer {
  height: 100px;
  display: flex;
  background-color: #332fd0;
  align-items: center;
}

.p {
  text-align: center;
  flex: 1;
  font-size: 20px;
  color: #f7f7f7;
  margin: 0 10px;
}
